/* #0463FA */
.cta-container{
    margin-top: 3rem;
    margin-left: 0;
}

.cta-button{
    background-color: white;
    border: 3px solid rgb(108, 168, 224);
    padding: 1.2rem 1.3rem;
    font-size: 0.85rem;
    border-radius: 1rem;
    font-weight: 500;
    color: #0463FA;
    transition: all;
}

.cta-button:hover{
    background-color: rgb(239, 239, 239);
   
}


.add-org-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;   

}

.add-org-left-container{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left:15rem;
    padding-right: 5rem;
}

.pill{
    font-weight: 600;
    margin:0;
    padding:0;
}

.add-org-left-head-text{
    font-size: 2.3rem;
    font-weight: bolder;
    color: black;
    padding: 0;
    margin: 0 0 0.5rem 0;
}

.add-org-left-desc-text{
    line-height: 2.2rem;
}


.add-org-form-container{
    padding: 3rem 10rem;
    display: flex;
    justify-items: center;
    align-items: center;

}

.add-org-form{
    width:75%;
    background-color: white;
    padding: 0.8rem;
    border-radius: 0.6rem;
}

.add-org-label{
    font-size: 0.75rem;
}

.add-org-input{
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0.2rem;
    padding: 0.35rem 0.6rem;
    font-size: 0.9rem;
}

.add-org-input:focus{
    outline: 1px solid #0463FA;

}

.two-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.add-org-button{
    width: 100%;
    padding: 0.8rem 0;
    color:white;
    background-color: #0463FA;
    border:0;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.4rem;
}

.add-org-button:hover{
    background-color: #0454d4;
    text-decoration: underline;
}

.error-text{
    font-size: 0.75rem;
    color:rgba(239, 23, 23, 0.935)
}

.input-error{
    border: 1px solid rgba(239, 23, 23, 0.935);    
}

.label-error{
    color: rgba(239, 23, 23, 0.935);
}